body {
    font-family: "Poppins", sans-serif;
    background: #110800;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.grid {
    display: grid;
    grid-gap: 64px;
}

.img-responsive {
    max-width: 100%;
    display: block;
}

.grid-2-columns {
    grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
    grid-template-columns: 1fr 2fr 2fr;
}

.card {
    background: white;
    margin: 30px 0;
}

.card-body {
    padding: 30px;
}

.card-footer {
    padding: 0 30px 30px;
}

.card-header .grid {
    grid-gap: 0;
}

.embed {
    width: 100%;
    aspect-ratio: 1/1;
}

.btn {
    display: block;
    color: rgb(248, 247, 244);
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 16px;
    background-color: #061635;
    text-decoration: none;
}

section {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px;
}

section.secondary {
    background: #f8f8f8;
}

/* Header Styles */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/foodspice.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
}

header h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    margin: 30px 0;
}

header h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

header h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
}

header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #272044;
    padding: 16px 32px;
    margin-top: 32px;
    display: inline-block;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    background: white;
}


.video-container {
    max-width: 60%;
    /* Adjust to desired width */
    margin: 0 auto;
    /* Center-align the video */
}

video {
    width: 75%;
    /* Make the video fill its container */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Ensure block-level display */
}
/* Main Content Styles */
main {
    background-color: white;
}

main h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 5px;
    color: #272044;
    opacity: 0.3;
    text-transform: uppercase;
}

main h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #272044;
    margin: 0;
}

main h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: #272044;
    margin: 0;
}

main h5 {
    font-weight: 700;
    font-size: 13px;
    margin: 0;
    line-height: 1;
    color: #272044;
}

main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #272044;
    opacity: 0.7;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    /* Corrected syntax for background-color */
    align-items: stretch;
    /*margin: 8rem auto;*/
    max-width: 90%;
    margin: 0 auto;
}

.gallery h2 {
    text-align: center;
    color: #fff;
    padding-top: 3rem;
}

.container {
    text-align: center;
    /* Center-align content within the container */
}

.container h2 {
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-family: "Poppins", sans-serif;
    color: #272044;
    text-align: center;
}

.container h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-align: center;
}


/* Form Styles */
form {
    width: 50%;
    padding: 5%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


#generate-form {
    display: inline-block;
    /* Display the form as an inline block */
    text-align: center;
    /* Align form contents to the left within the container */
    padding: 20px;
    /* Add padding to the form */
    background-color: white;
    /* Form background color */
    border-radius: 2px;
    /* Rounded corners for the form */
}

.instructions {
    padding: 10px;
    border: 1px solid rgb(11, 44, 10);
    width: 100%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    margin-bottom: 10px;
}

.submit-button {
    background-color: rgb(43, 41, 39);
    /* Button background color */
    color: #fff;
    /* Button text color */
    border: none;
    /* Remove button border */
    font-size: 16px;
    /* Button font size */
    border-radius: 2px;
    /* Button border radius */
    padding: 14px 24px;
    /* Button padding */
    margin-top: 20px;
    /* Top margin for spacing */
}

/* New Text Styles */
.newtext {
    text-align: left;
    font-size: 16px;
    background-color: #fff;
    color: black;
    padding: 20px;
    line-height: 35px;
    border-left: 5px solid rgb(43, 41, 39);
    border-right: 5px solid rgb(43, 41, 39);
    box-shadow: 0px 4px 30px 0px;
    margin-top: 20px;
}

/* Footer Styles */
footer {
    background-color: rgb(43, 41, 39);
    text-align: center;
    padding: 10px;
    font-size: 10px;
    color: white;
    width: 100%;
}

footer h3 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #faf8f7;
} 

footer p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #faf8f7;
}

/* Hidden Elements */
.hidden {
    display: none;
}

/* Animations */
.generating {
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    body {
        margin: 40px auto;
        max-width: 80%;
    }

    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 20px;
    }

    header h3 {
        font-size: 12px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }

    section {
        padding: 30px;
    }
}